/* --- Page Body ----------------------------------------- */

body {
  background-color: #E5ECF3;
  margin: 0;
  padding: 8px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
}

/* --- Layout -------------------------------------------- */

#statusbar {
  color: #555;
  font-size: .9em;
  text-align: right;
  margin: 3px;
}
#statusbar a {
  border: 0;
  text-decoration: none;
}
#container {
  text-align: center;
  padding: 4px 0 4px 0;
  margin: 3px;
  width: auto;
  background-color: #ffffff;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#header #banner {
  background: url(tome.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 10px 5px 10px 5px;
  margin: 3px;
}
#header #banner #status {
  float: right;
  width: 30%;
  margin-top: -70px;
  font-weight: bold;
  text-align: right;
}
#header #banner #status dt {
  font-weight: normal;
}
#header #navigation {
  padding: 4px 0 4px 0;
  text-align: center;
  clear: both;
  background-color: rgb(40,100,160);
  color: #5481AC;
  font-size: 1.1em;
  font-weight: bold;
}
#header #navigation ul {
  display: inline;
  margin: 0;
  padding: 0;
}
#header #navigation ul li {
  display: inline;
}
#header #navigation a {
  color: #D2DCF3;
  text-decoration: none;
  border-right: 1px solid #5481AC;
  padding-right: 5px;
}
#header #navigation a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
#header #navigation form {
  display: inline;
}
div#body {
  padding: 10px 0 0 0;
  width: 800px;
  text-align: left;
  margin: 0 auto;
}
#footer {
  text-align: center;
  margin-top: 8px;
  border-top: 2px solid #E5ECF3;
  padding: 8px 0 6px 0;
  width: auto;
}

/* --- General Styles ------------------------------------ */

div.line {
  border-top: 2px solid rgb(235,235,235);
  width: auto;
  margin: 8px 0 8px 0;
  padding: 0;
  clear: both;
}
pre {
  text-align: left;
}
a,
.link {
  color: #00439D;
  text-decoration: underline;
}
a:hover,
.link:hover {
  color: black;
}
.link {
  cursor: pointer;
}
.draggable {
  cursor: move;
}
.hidden {
  display: none;
}
/*
#body h1,
#body h2,
#body h3,
#body h4,
#body h5 {
    margin: 12px 0 10px 0;
  }

  #body tr th h1,
  #body tr th h2,
  #body tr th h3,
  #body tr th h4,
  #body tr th h5,
  #body tr th h6 {
      margin: 0;
    }

    #body h1 {
        font-size: 2em;
      }

      #body h2 {
          font-size: 1.7em;
            color: #FF9900;
              border-bottom: 1px solid rgb(235, 235, 235);
            }
*/
            #body h3 {
               font-size: 1.3em;
                  color: #336699;
                    border-bottom: 1px solid rgb(235, 235, 235);
                  }

                  #body h4 {
                     font-size: 1.15em;
                        color: rgb(22,110,0);
                         /* margin: 12px 0 2px 0;*/
                        }
/*
                        #body h5 {
                            font-size: 1.1em;
                              color: #169D00;
                            }

                            #body h6 {
                                font-size: 1.05em;
                                  font-weight: bold;
                                }
*/
/* --- Print Controls ------------------------------------ */

.print-only {
  display: none;
}

/* --- Forms --------------------------------------------- */

form {
  margin-bottom: 0px;
}
form input[type=text],
form input[type=password],
textarea{
  border: 1px solid #D7D7D7;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background: #eee;
  color: #222;
  border: 1px outset #ccc;
  padding: .1em .5em
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
   background: #ccb;
 }
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled] {
  background: #f6f6f6;
  border-style: solid;
}

div.auto_complete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list  {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list li.selected {
  background-color:#ffb;
}
li.auto_complete_item {
  list-style-type: none;
  display:block;
  margin:0;
  padding:2px;
  height:42px;
}
li.auto_complete_item div.primary {
  font-weight:bold;
  font-size:12px;
  line-height:1.2em;
}
li.auto_complete_item div.secondary {
  font-size:10px;
  color:#888;
}
#list {
  margin:0;
  margin-top:10px;
  padding:0;
  list-style-type: none;
  width:250px;
}
#list li {
  margin:0;
  margin-bottom:4px;
  padding:5px;
  border:1px solid #888;
  cursor:move;
}
#content {
  padding:3em;
}

/* --- Tables -------------------------------------------- */

table {
  border-collapse: collapse;
}
table.full {
  width: 100%;
}
table.noborder > tbody > tr >  td {
  border: 0;
}
table#main {
  width: 95%;
  text-align: center;
}
td, th {
  padding: 0.5em;
  border: 1px solid #CCC;
}
thead, tfoot {
  background-color: #DDD;
}
th {
  text-align: center;
  font-size: 1.1em;
}
td {
  text-align: left;
}
form td.submit {
  text-align: center;
}
tr.rowodd {
}
tr.roweven {
  background-color:#F2F2F2;
}

dl.table-display {
  display: block;
}
dl.table-display dt {
  clear:   left;
  display:  block;
  font-weight: bold;
  float:   left;
  margin-right: 4px;
}
dl.table-display dd {
  clear:   right;
  display:  block;
  /*white-space: nowrap;*/
}
dl.table-display dd input,
dl.table-display dd select {
  margin-top: -2px;
  margin-bottom: 4px;
}

/* --- Table sorting ----------------------------- */

.sortcol {
  cursor: pointer;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortasc {
  background-color: #DDFFAC;
  background-image: url(up.gif);
}
.sortdesc {
  background-color: #B9DDFF;
  background-image: url(down.gif);
}
.nosort {
  cursor:default;
}
.scroll-table-head {
  width:800px;
}
.scroll-table-body {
  width: 800px;
  height: 400px;
}
.scroll-table-body td {
  padding-right: 20px;
  overflow: hidden;
}

/* --- Forms --------------------------------------------- */

form {
  margin-bottom: 0px;
}
form input[type=text] {
  border: 1px solid #D7D7D7;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background: #eee;
  color: #222;
  border: 1px outset #ccc;
  padding: .1em .5em
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
   background: #ccb;
 }
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled] {
  background: #f6f6f6;
  border-style: solid;
}

div.auto_complete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list  {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list li.selected {
  background-color:#ffb;
}
li.auto_complete_item {
  list-style-type: none;
  display:block;
  margin:0;
  padding:2px;
  height:42px;
}
li.auto_complete_item div.primary {
  font-weight:bold;
  font-size:12px;
  line-height:1.2em;
}
li.auto_complete_item div.secondary {
  font-size:10px;
  color:#888;
}
#list {
  margin:0;
  margin-top:10px;
  padding:0;
  list-style-type: none;
  width:250px;
}
#list li {
  margin:0;
  margin-bottom:4px;
  padding:5px;
  border:1px solid #888;
  cursor:move;
}
#content {
  padding:3em;
}

/* --- Tables -------------------------------------------- */

table {
  border-collapse: collapse;
}
table#main {
  width: 95%;
  text-align: center;
}
td, th {
  padding: 0.5em;
  border: 1px solid #CCC;
}
thead, tfoot {
  background-color: #DDD;
}
th {
  text-align: center;
  font-size: 1.1em;
}
td {
  text-align: left;
}
form td.submit {
  text-align: center;
}
tr.rowodd {
}
tr.roweven {
  background-color:#F2F2F2;
}

/* --- Table sorting ----------------------------- */

.sortcol {
  cursor: pointer;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortasc {
  background-color: #DDFFAC;
  background-image: url(up.gif);
}
.sortdesc {
  background-color: #B9DDFF;
  background-image: url(down.gif);
}
.nosort {
  cursor:default;
}
.scroll-table-head {
  width:800px;
}
.scroll-table-body {
  width: 800px;
  height: 400px;
}
.scroll-table-body td {
  padding-right: 20px;
  overflow: hidden;
}

.link {
  cursor: pointer;
}
.link:hover {

}
.draggable {
  cursor: move;
}
.hidden {
  display: none;
}

/* --- Print Controls ------------------------------------ */

.print-only {
  display: none;
}

/* --- Forms --------------------------------------------- */

form {
  margin-bottom: 0px;
}
form input[type=text] {
  border: 1px solid #D7D7D7;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background: #eee;
  color: #222;
  border: 1px outset #ccc;
  padding: .1em .5em
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
   background: #ccb;
 }
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled] {
  background: #f6f6f6;
  border-style: solid;
}

div.auto_complete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list  {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
ul.auto_complete_list li.selected {
  background-color:#ffb;
}
li.auto_complete_item {
  list-style-type: none;
  display:block;
  margin:0;
  padding:2px;
  height:42px;
}
li.auto_complete_item div.primary {
  font-weight:bold;
  font-size:12px;
  line-height:1.2em;
}
li.auto_complete_item div.secondary {
  font-size:10px;
  color:#888;
}
#list {
  margin:0;
  margin-top:10px;
  padding:0;
  list-style-type: none;
  width:250px;
}
#list li {
  margin:0;
  margin-bottom:4px;
  padding:5px;
  border:1px solid #888;
  cursor:move;
}
#content {
  padding:3em;
}

/* --- Tables -------------------------------------------- */

table {
  border-collapse: collapse;
}
table#main {
  width: 95%;
  text-align: center;
}
td, th {
  padding: 0.5em;
  border: 1px solid #CCC;
}
thead, tfoot {
  background-color: #DDD;
}
th {
  text-align: center;
  font-size: 1.1em;
}
td {
  text-align: left;
}
form td.submit {
  text-align: center;
}
tr.rowodd {
}
tr.roweven {
  background-color:#F2F2F2;
}

/* --- Table sorting ----------------------------- */

.sortcol {
  cursor: pointer;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortasc {
  background-color: #DDFFAC;
  background-image: url(up.gif);
}
.sortdesc {
  background-color: #B9DDFF;
  background-image: url(down.gif);
}
.nosort {
  cursor:default;
}
.scroll-table-head {
  width:800px;
}
.scroll-table-body {
  width: 800px;
  height: 400px;
}
.scroll-table-body td {
  padding-right: 20px;
  overflow: hidden;
}
