[% META title = 'Add Class' %]
<form action="[% config.cgibase %]/admin.pl" name="addclass">
<input type="hidden" name="rm" value="addclass_process">
<input type="hidden" name="add" value="1">
<table cellpadding="5" border="1">
	<tr><td>ID</td><td>[% CGI.textfield({ Name => 'id' }) %] [% errs.id %] (Example: KINE1512)</td></tr>
	<tr><td>Name</td><td>[% CGI.textfield({ Name => 'name' }) %] [% errs.name %] (Example: Concepts of Lifetime Fitness)</td></tr>
	<tr><td colspan="2" align="center"><input type="submit" value="Add Class"></td></tr>
</table>
</form>
