[% META title = 'Add TOME Book' %]
<form action="[% config.cgibase %]/admin.pl" method="post">
<input type="hidden" name="rm" value="addtomebook_process">
<input type="hidden" name="addtomebook" value="1">
ISBN: [% PROCESS autocomplete_isbn.html %] [% errs.isbn %]<br>
Originator: <input type="text" name="originator"> [% errs.originator %]<br>
Expire Semester: <select name="expire">
<option value="" selected="selected">Never</option>
[% FOREACH semester = semesters %]
<option value="[% semester.id | html %]">[% semester.name | html %]</option>
[% END %]
</select><br>
Comments: <input type="text" name="comments"><br>
Library: <select name="library">
[% FOREACH library = libraries %]
[% IF library.access %]<option value="[% library.id | html %]">[% library.name | html %]</option>[% END %]
[% END %]
</select>[% errs.library %]<br>
<input type="submit" value="Add TOME Book">
</form>
