[% META title = 'Add Book' %]
<font size="+1">Adding TOME Book:</font>
<blockquote>
<b>ISBN:</b> [% CGI.param('isbn') | html %]<br />
<b>Originator:</b> [% CGI.param('patron') | html %]<br />
<b>Expire Semester:</b> [% semestershash.${CGI.param('expire')}.name || "Never" | html %]<br />
<b>Comments:</b> [% CGI.param('comments') | html %]<br />
<b>Library:</b> [% librarieshash.${CGI.param('library')}.name | html %]<br />
</blockquote>
<p><font color="red">The ISBN you entered is not known by the system.<br />
If you are sure it is correct, please enter the general book information and the book will be added.</font>
<p><form action="[% config.cgibase %]/admin.pl" method="post" name="addtomebook_isbn">
<input type="hidden" name="rm" value="addtomebook_process">
<input type="hidden" name="addbook" value="true">
<input type="hidden" name="addtomebook" value="true">
<input type="hidden" name="patron" value="[% CGI.param('patron') | html %]">
<input type="hidden" name="expire" value="[% CGI.param('expire') | html %]">
<input type="hidden" name="comments" value="[% CGI.param('comments') | html %]">
<input type="hidden" name="library" value="[% CGI.param('library') | html %]">
ISBN: [% CGI.textfield({ Name => 'isbn' }) %]<br />
Title: <input type="text" name="title"> [% errs.title %]<br />
Author: <input type="text" name="author"> [% errs.author %]<br />
Edition: <input type="text" name="edition"><br />
<input type="submit" value="Add Book">
</form>
