[% META title = 'Useless Books' %]
<h3>These books have a class associated with them, but are marked as not being usable:</h3>
<form name="report" action="[% config.cgibase %]/admin.pl" method="post">
<input type="hidden" name="rm" value="finduseless">
<table border="1" cellpadding="5">
<tr><td>Libraries</td><td><select name="libraries" size="5" multiple="multiple">
[% FOREACH library = libraries %]
<option value="[% library.id | html %]" [% IF libraries_selected.grep("^${library.id}\$").size == 1 %]selected="selected"[% END %]>[% library.name | html %]</option>
[% END %]
</select><br>
<a href="#" onClick="for(i=0;i<document.report.libraries.length;i++){document.report.libraries.options[i].selected=true;}">Select All</a> | <a href="#" onClick="[% FOREACH library = libraries %][% IF library.access %]document.report.libraries.options[[% loop.index %]].selected=true;[% ELSE %]document.report.libraries.options[[% loop.index %]].selected=false;[% END %][% END %]">Select Mine</a>
</td></tr>
<tr><td colspan="2" align="center"><input type="submit" value="Find Useless"></td></tr>
</table>
</form>
[% IF tomebooks.size %]
<p>[% tomebooks.size %] useless books found.
<p><table border="1">
<tr>
	<td align="center"><b>ID</b></td>
	<td align="center"><b>Title</b></td>
	<td align="center"><b>Author</b></td>
	<td align="center"><b>Edition</b></td>
	<td align="center"><b>Originator</b></td>
	<td align="center"><b>Classes</b></td>
</tr>
[% FOREACH book = tomebooks %]
<tr>
	<td><a href="[% config.cgibase %]/admin.pl?rm=tomebookinfo&id=[% book.id | html | uri %]">[% book.id %]</a></td>
	<td>
		[% book.title %]
	</td>
	<td>
		[% book.author %]
	</td>
	<td>
		[% book.edition %]
	</td>
	<td>[% book.originator %]</td>
	<td>
		[% FOREACH class = book.classes %]
		<a href="[% config.cgibase %]/admin.pl?rm=classsearch&class=[% class.id | uri | html %]">[% class.id %]</a> - [% class.name %]<br>
		[% END %]
	</td>
</tr>
[% END %]
[% ELSE %]
Hooray!  There are no useless books in libraries selected.
[% END %]
</table>
