[% META title = 'Inventory Mode' %]
<h3>These books should be in your library somwhere ([%- books.size -%])</h3>
<table class="sortable"><thead>
<tr>
  <th>Title</td>
  <th>Author</td>
  <th>Edition</td>
  <th>ISBN</td>
  <th>ID</td>
</tr>
</thead><tbody>
[% FOREACH book = books %]
[%- tb = tome.tomebook_info(book) -%]
[%- b = tome.book_info(tb.isbn) -%]
<tr>
  <td>[% b.title | html %]</td>
  <td>[% b.author | html %]</td>
  <td>[% b.edition | html %]</td>
  <td><a href="[%- url(rm='isbnview', isbn=b.isbn) -%]">[% b.isbn | html %]</a></td>
  <td><a href="[%- url(rm='tomebookinfo', id=book) -%]">[% book | html %]</a></td>
</tr>
[% END %]
</tbody></table>
