[% META title = 'View Book' %]

[% INCLUDE 'blocks/book.html' isbn=isbn %]
<h2>Reserve Book</h2>
[%# 

Book Reservation Table  %]
<form action="[% url %]" name="isbnreserve" method="post">
<input type="hidden" name="rm" value="isbnupdate" />
<table>
<tr><td><strong>Patron:</strong></td><td>[% PROCESS 'blocks/autocomplete_patron.html' name='patron' %]</td></tr>
<tr><td><strong>Reserve to:</strong></td><td><select>[% FOREACH library = libraries_to %]<option value="[% library.id | html %]">[% library.name | html %]</option>[% END %]</select></td></tr>
<tr><td><strong>Semester:</strong></td><td>[% PROCESS 'blocks/semestersbox.html' name='semester' %]</td></tr>
[%#

should be if it is in our libraru 

%]
<tr><td>[% IF 1==2 %]<input type="submit" value="Reserve Book" />[% ELSE %]<input type="submit" value="Reserve Book from Library:"/></td><td><select>[% FOREACH library = libraries_from %]<option value="[% library.id | html %]">[% library.name | html %] (3 Free)</option>[% END %]</select>[% END %]</td></tr>
</table>
</form>
