[% META title = 'View Book' %]

[% INCLUDE 'blocks/book.html' isbn=isbn %]
<h2>Reserve Book</h2>
[%# Book Reservation Table  %]
<form action="[% url %]" name="isbnreserve" method="post">
<input type="hidden" name="rm" value="isbnreserve" />
<input type="hidden" name="isbn" value="[% isbn | html %]" />
<table>
<tr><td><strong>Patron:</strong></td><td>[% PROCESS 'blocks/autocomplete_patron.html' name='patron' %] [% errs.patron %]</td></tr>
[%# Since most people only ever have access to one library, we make this a variable thinger. %]
[% IF libraries_from.size > 1 %]
    <tr><td><strong>Reserve to:</strong></td><td><select name="library_to">
        [% FOREACH library = libraries_from %]
            <option value="[% library | html %]">[% tome.library_info(library).name | html %]</option>
        [% END %]
    </select>[% errs.libraries_from %]</td></tr>
[% END %]
<tr><td><strong>Semester:</strong></td><td>[% PROCESS 'blocks/semestersbox.html' name='semester' %][% errs.semester %]</td></tr>
[%#should be if it is in our library %]
<tr><td><strong>Comments</strong></td><td><input type="text" name="comment" /></td></tr>
<tr id="libraries_selection">
[% INCLUDE 'blocks/libraries_selection.html' libraries=libraries_to %]
</tr>
[% prototype.observe_field('semester', {
    url => url,
    with => "value+'&rm=ajax_libraries_selection_list'",
    update=> 'libraries_selection',
})
%]
</table>
</form>
