[% META title = 'View Book' %]
[% INCLUDE 'blocks/book.html' isbn=isbn %]

[%# Book Reservation Table  %]
[%# var.array.size is the size of an array. %]
<table>
<tr><td><em>Patron:</em></td><td>[% PROCESS 'blocks/autocomplete_patron.html' name='patron'  %]</td></tr>
<tr><td><em>Floor:</em></td><td>[% IF 1==2 %][% PROCESS 'blocks/librariesbox.html' name='library' %][% ELSE %]Flooders[% END %]</td></tr>
<tr><td><em>Semester:</em></td><td>[% PROCESS 'blocks/semestersbox.html' name='semester' %]</td></tr>
<tr><td>[% IF 1==2 %]<input type="submit" value="Reserve Book" />[% ELSE %]<input type="submit" value="Reserve Book from Library:"></td><td><select><option value="1">Flooders (3 Free)</option></select>[% END %]</td></tr>
</table>
