[% META title = 'View Book' %]
[% INCLUDE 'blocks/book.html' isbn=isbn %]

[%# Book Reservation Table  %]
[%# This needs to have:
    Patron reserving to, Floor patron is on, semester reserving to, button(reserve from here) || button(reserve from other floor) w/ listbox of available floors( intertome floors, floors with the book)
%]
<table>
<tr><td>Patron:</td><td>[% INCLUDE 'blocks/autocomplete_patron.html' name='patron'  %]</td></tr>
<tr><td>Floor:</td><td>[% INCLUDE 'blocks/librariesbox.html' name='library' %]</td></tr>
<tr><td>Semester:</td><td>[% INCLUDE 'blocks/semestersbox.html' name='semester' %]</td></tr>
</table>
