[% META title = 'View Patron' %]
[% patroninfo = tome.patron_info(patron) %]
<form action="[% url %]" name="patronupdate" method="post">
<input type="hidden" name="rm" value="patronupdate">
<input type="hidden" name="id" value="[% patron | html %]">
ID: [% patroninfo.id | html %]<br />
Email: <input type="text" name="email" value="[% patroninfo.email | html %]" size="40"> [% errs.email %]<br />
Display Name: <input type="text" name="name" value="[% patroninfo.name | html %]"> [% errs.name %]<br />
<input type="submit" value="Update">
</form>

<h3>Books currently checked out</h3>
[% FOREACH checkout = tome.patron_checkouts_outstanding(patron) %]
[% checkoutinfo = tome.checkout_info(checkout) %]
[% tomebookinfo = tome.tomebook_info(checkoutinfo.tomebook) %]
<a href="[% url(rm='tomebookinfo', id=tomebookinfo.id) %]">[% tomebookinfo.id %]</a><br />
[% INCLUDE "blocks/book.html" isbn = tomebookinfo.isbn %]
<br />
[% END %]
