[%# Receives reservations as an argument -%]
[%- META title = 'View Patron' -%]
[%- patroninfo = tome.patron_info(patron) -%]
<form action="[% url %]" name="patronupdate" method="post">
<input type="hidden" name="rm" value="patronupdate" />
<input type="hidden" name="id" value="[% patron | html %]" />
<dl class="table-display">
  <dt>Email:</dt>
  <dd><input type="text" name="email" value="[% patroninfo.email | html %]" size="40"> [% errs.email %]</dd>
  <dt>Display Name:</dt><dd><input type="text" name="name" value="[% patroninfo.name | html %]"> [% errs.name %]</dd>
</dl>
<input type="submit" value="Update"/>
</form>
[%- reservations = tome.patron_reservations(patron) -%]
[%- #{{{ -%]
[%- IF reservations.size > 0 -%]
<h3>Books Reserved</h3>
<table class="sortable full"><thead><tr><th>Library</th><th>Book</th><th>Semester</th><th>Fill Reservation</th></thead><tbody>
[%- FOREACH reservation = reservations -%]
[%- reservation_info = tome.reservation_info(reservation) -%]
<tr>
  <td>[% tome.library_info(reservation_info.library_to).name %]</td>
  <td>[% INCLUDE 'blocks/book.html' isbn=reservation_info.isbn %]</td>
  <td>[%- INCLUDE blocks/semester.html semester=reservation_info.semester -%]</td>
  <td>[% INCLUDE 'blocks/reservation.html' %]</td>
</tr>
[%- END -%]
</table>
[%- END -%]
[%- #}}} -%]
[%- checkouts = tome.patron_checkouts(patron) -%]
[%- #{{{ -%]
[%- IF checkouts.size > 0 -%]
<h3>Books Checked Out</h3>
<table class="sortable full"><thead><tr><th>Library</th><th>Book</th><th>Semester</th><th>Check In</th></tr></thead>
  <tbody>
[%- FOREACH checkout_id IN checkouts -%]
<tr>
  <td>[% tome.library_info(tome.tomebook_info(tome.checkout_info(checkout_id).tomebook).library).name %]</td>
  <td>[% INCLUDE 'blocks/book.html' id = tome.checkout_info(checkout_id).tomebook isbn=tome.tomebook_info(tome.checkout_info(checkout_id).tomebook).isbn %]</td>
  <td>[%- INCLUDE blocks/semester.html semester=tome.checkout_info(checkout_id).semester -%]</td>
  <td>[%- INCLUDE 'blocks/checkin.html' checkout=checkout_id -%]
</tr>
[%- END -%]
</table>
[%- END -%]
[%- #}}} -%]
[%- #{{{ -%]
<h3 name="books_donated_label" id="books_donated_label">Books Donated</h3>
<div id="books_donated_table" name="books_donated_table">
[% prototype.form_remote_tag(
  update=>'books_donated_table',
  url => url,
  loading=> prototype.update_element_function("books_donated_table", { content=>'Loading...', action=>'update'}),
  loaded => SortableTable.load
  ) %]

 [% # prototype.visual_effect('highlight', "books_donated_table", { duration=>'0.5' }), }) %]
<input type="submit" name="submit" value="Shows donated books" />
<input type="hidden" name="rm" value="ajax_books_donated_list" />
<input type="hidden" name="patronid" value="[%- patron | html -%]" />
</form>
</div>
[%- #}}} -%]

