[% META title = 'View Patron' %]
[% patroninfo = tome.patron_info(patron) %]
<form action="[% url %]" name="patronupdate" method="post">
<input type="hidden" name="rm" value="patronupdate">
<input type="hidden" name="id" value="[% patron | html %]">
ID: [% patroninfo.id | html %]<br />
Email: <input type="text" name="email" value="[% patroninfo.email | html %]" size="40"> [% errs.email %]<br />
Display Name: <input type="text" name="name" value="[% patroninfo.name | html %]"> [% errs.name %]<br />
<input type="submit" value="Update">
</form>

<form name="patronaddclass" action="[% url %]" method="post">
[% INCLUDE 'blocks/autocomplete_class.html'  name='class' %]
[% errs.class %]
<input type="hidden" name="rm" value="patronaddclass">
<input type="hidden" name="patronid" value="[% patron | html %]">
<br/><input type="submit" value="Update">
</form>
