[% META title = 'Stats' %]
<form name="report" action="[% config.cgibase %]/admin.pl" method="post">
<input type="hidden" name="rm" value="stats">
<table border="1" cellpadding="5">
[% PROCESS librariesbox.html %]
<tr><td colspan="2" align="center"><input type="submit" value="Update Stats"></td></tr>
</table>
</form>
<b>Total books in the database</b>: [% stats.totalcollection %]<br>
<b>Books in the current collection</b>: [% stats.currentcollection %]<br>
<b>Total Checkouts</b>: [% stats.totalcheckouts %]<br>
<b>Checkouts for this semester</b>: [% stats.semestercheckouts %]<br>
<h3>Top 10 Donators</h3>
[% FOREACH stat = stats.top10donators %]
#[% loop.count() %]. [% stat.originator %] - [% stat.books %]<br>
[% END %]
