[% META title = 'Add Patron' %]
<font color="red" size="+1"><b>[% CGI.param('patron') | html %]</b> is not in the TOME system.<br />
If you are certain that the email address is correct, you may add them by completing this form:</font>
<form action="[%- url -%]" method="post" name="addpatron">
<input type="hidden" name="rm" value="addpatron_process">
<p><table cellpadding="5" border="1"><tr>
<td>Email</td><td><input type="text" name="ap_email1" value="[% CGI.param('patron') | html %]"> [% errs.ap_email1 %]</td></tr>
<tr><td>Email (confirm)</td><td><input type="text" name="ap_email2"> [% errs.ap_email2 %]</td></tr>
<tr><td>Display Name</td><td><input type="text" name="ap_name"> [% errs.ap_name %]</td></tr>
<tr><td align="center" colspan="2"><input type="submit" value="Add Patron"></td></tr>
</table>
[% FOREACH param = CGI.param %]
[% IF param == 'rm' and !CGI.param('finalrm') %]
<input type="hidden" name="finalrm" value="[% CGI.param(param) | html %]">
[% ELSIF (param == 'rm' AND CGI.param('finalrm')) || param.match('^ap_') %]

[% ELSE %]
<input type="hidden" name="[% param | html %]" value="[% CGI.param(param) | html %]">
[% END %]
[% END %]
</form>
