[%# Takes isbn as an argument also, if id is defined id will be shown %]

[% bookinfo = tome.book_info(isbn) %]
<table class="book">

[% IF (id) %]<tr><td><strong>Book ID:</strong></td><td><a href="[% config.cgibase %]/admin.pl?rm=tomebookinfo&id=[% id %]">[% id | html %]</a></td></tr>[% END %]
<tr><td><strong>ISBN:</strong></td><td><a href="[% config.cgibase %]/admin.pl?rm=isbnview&isbn=[% bookinfo.isbn %]">[% bookinfo.isbn | html %]</a></td></tr>
<tr><td><strong>Title:</strong></td><td>[% bookinfo.title | html %]</td></tr>
<tr><td><strong>Author:</strong></td><td>[% bookinfo.author | html %]</td></tr>
<tr><td><strong>Edition:</strong></td><td>[% bookinfo.edition | html %]</td></tr>
</table>
