<h4>Checkout History</h4>
[%- IF checkouts.size > 0 -%]
<table>
  <thead><tr><th>Semester</th><th>Borrower</th><th>Library</th><th>Checked Out</th><th>Checkin</th></tr></thead>
  <tbody>
    [%- FOREACH checkout = checkouts -%]
    [%- c = tome.checkout_info(checkout) -%]
    <td>[% semestershash.${c.semester}.name | html %]</td>
    <td>[%- PROCESS blocks/patronlink.html patron=c.borrower -%]</td>
    <td>[% tome.library_info(c.library).name | html %]</td>
    <td>[%- PROCESS blocks/datetime.html datetime=c.checkout -%]</td>
    <td>[%- IF c.checkin -%][%- PROCESS blocks/datetime.html datetime=c.checkin -%][%- ELSE -%][% PROCESS blocks/checkin.html checkout=c.id %][%- END -%]</td>
  </tr>
  [%- END -%]
</table>
  [%- ELSE -%]
  No history
  [%- END -%]
