[%# Takes checkout as an argument %]
[%- c = tome.checkout_info(checkout) -%]
<div name="checkout[% c.id | html %]" id="checkout[% c.id | html %]">
[%- prototype.form_remote_tag({
  url    => url,
  update => 'checkout' _ c.id,
  loading=> prototype.update_element_function("checkout${c.id}", { content=>'Loading...', action=>'update'}),
  loaded => prototype.visual_effect('highlight', "checkout${c.id}", { duration=>'0.5' }),
  }) -%]
<input type="hidden" id="checkout_id" name="checkout_id" value="[% c.id | html %]" />
<input type="hidden" id="rm" name="rm" value="ajax_checkin" />
<input type="hidden" id="ccommit[%- c.id -%]" name="commit" value="checkin" />
<table>
  <tr><td><strong>Comments:</strong></td><td><input type="text" name="submit" value="" /></td></tr>
  <tr><td><input type="submit" name="submit" value="Cancel" onClick="$('ccommit[%- c.id -%]').value='cancel'; $$('checkout[%- c.id | html -%] form')[0].submit();" /></td><td><input type="submit" value="Check In" /></td></tr>
</table>
</form>
</div>
