[%# Takes reservation as an argument %]

[% reservation = tome.reservation_info(reservation) %]
[% tomebooks_available = tome.tomebooks_available_for_checkout(reservation.isbn, reservation.library_to, reservation.semester) %]
<div id="reservation[% reservation.id %]">
<table>
<form>
<tr><td><strong>Library:</strong></td><td>[% tome.library_info(reservation.library_to).name %]</td></tr>
<tr><td><strong>Checkout:</strong></td><td><select name="tomebook_id"><option id="0">Please select a Book ID</option>[% FOREACH book = tomebooks_available %]<option id="[% book | html %]">[% book | html %]</option>[% END %]</select></td></tr>
<tr><td>Cancel!</td>
<td>[% prototype.submit_to_remote('fill', 'Fill Reservation', {
  url    => url,
  with   => "'rm=ajax_fill_reservation'",
  update => 'reservation' _ reservation.id,
}) %]</td>
</tr>
</form>
</table>
</div>
