[%- b = tome.class_book_info(class, book) -%]
  <td name="usable[% b.isbn |html %]" id="usable[% b.isbn | html %]" [% IF b.verified >= (session.currsemester.id || currsemester.id) %] class="good"[%- END -%]>
  [%- prototype.form_remote_tag({
  url    => url,
  update => 'usable' _ b.isbn,
  loading=> prototype.update_element_function("usable${b.isbn}", { content=>'Loading...', action=>'update'}),
  loaded => prototype.visual_effect('highlight', "usable${b.isbn}", { duration=>'0.5' }),
  }) -%]
  <input type="hidden" name="rm" value="ajax_updateclassinfo">
  <input type="hidden" name="class" value="[% id | html %]">
  <input type="hidden" name="isbn" value="[% b.isbn | html %]">
  <table class="noborder close"><tr><td><strong>Usable:</strong></td><td>
          <select name="usable">
            <option value="1" [% IF b.usable %]selected[% END %]>Yes</option>
            <option value="0"[% IF !b.usable %]selected[% END %]>No</option>
      </select></td></tr>
      <tr><td><strong>Semester</strong></td>
        <td><select name="verified">
            [%- FOREACH semester = semesters -%]
<option value="[% semester.id | html %]" [% IF b.verified == semester.id %]selected="selected"[% END %]>[% semester.name | html %]</option>
            [%- END -%]
      </select></td></tr>
      <tr><td><strong>Comments:</strong></td><td><textarea name="comments" rows="4" cols="15">[% b.comments | html %]</textarea></td></tr>

      <tr><td><input type="submit" value="Update" /><input type="hidden" id="ucommit[%- b.isbn | html -%]" name="ucommit" value="update" /></td>
      <td>
          <input type="submit" value="Delete" onClick="$('ucommit[%- b.isbn -%]').value='delete'; $$('usable[%- b.isbn | html -%] form')[0].submit();" />
        </form>
      </td>
    </tr>
  </table>
</td>
