[% META title = 'Update Book' %]
<form action="[% config.cgibase %]/admin.pl">
<input type="hidden" name="rm" value="updatebook">
<input type="hidden" name="update" value="1">
<input type="hidden" name="isbn" value="[% isbn | html %]">
ISBN: [% isbn | html %]<br />
Title: <input type="text" name="title" value="[% title | html %]"><br />
Author: <input type="text" name="author" value="[% author | html %]"><br />
Edition: <input type="text" name="edition" value="[% edition | html %]"><br />
<input type="submit" value="Update">
</form>
