body {
  width: 100%;
  font: 10pt "Times New Roman", "TimesNR", Times, serif !important;
  background: #FFFFFF !important;
  margin: 0;
  padding: 0;
}
#statusbar,
#header #banner #status,
#header #navigation,
#footer {
  display: none;
}
#header h1 {
  text-align: center;j
}
#body {
  width: auto;
  margin: 0.1em;
  padding: 0;
  border: 0;
  color: black;
  background: transparent none;
}

/* --- Table styles --------------------------- */

table {
  border-collapse: collapse;
}
table.full {
  width: 100%;
}
table td {
  border: 1px solid rgb(220,220,220);
}
dl.table-display {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
dl.table-display dt {
  clear: left;
  display: block;
  font-weight: bold;
  float: left;
  margin-right: 4px;
}
dl.table-display dd {
  clear: right;
  display: block;
}
dl.table-display dd input,
dl.table-display dd select {
  margin-top: -2px;
  margin-bottom: 4px;
}
/* --- General styles --------------------------*/

#body div.line {
  border-top: 1px solid rgb(235,235,235);
  width: auto;
  margin: 8px 0 8px 0;
  padding: 0;
  clear: both;
}
form input {
  font-size: 0.8em;
}
.print-no {
  display: none;
}
.print-page-break-before {
  page-break-before: always;
}
.print-page-break-after {
  page-break-after: always;
}
