body {
  width: 100%;
  font: 12pt "Times New Roman", "TimesNR", Times, serif !important;
  background: #FFFFFF !important;
  margin: 0;
  padding: 0;
}
#header,
#footer {
  display: none;
}
#body {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  background: transparent none;
}

/* --- Table styles --------------------------- */

table {
  border-collapse: collapse;
}
table td {
  border: 1px solid rgb(220,220,220);
}

/* --- General styles --------------------------*/

#body div.line {
  border-top: 1px solid rgb(235,235,235);
  width: auto;
  margin: 8px 0 8px 0;
  padding: 0;
  clear: both;
}
