[% META title = 'Add TOME Book' %]
<form action="[%- url -%]" method="post" name="addtomebook">
<input type="hidden" name="rm" value="addtomebook_process" />
<input type="hidden" name="addtomebook" value="1" />
<table class="noborder">
<tr>
<td>ISBN</td><td>[% INCLUDE 'blocks/autocomplete_isbn.html' name='isbn' %] [% errs.isbn %]</td>
</tr>
<tr>
<td>Originator<br />(email address)</td><td>[% INCLUDE 'blocks/autocomplete_patron.html' name='patron' %] [% errs.patron %]</td>
</tr>
<tr>
<td>Expire Semester</td><td><select name="expire">
<option value="" selected="selected">Never</option>
[% FOREACH semester = semesters %]
<option value="[% semester.id | html %]">[% semester.name | html %]</option>
[% END %]
</select></td>
</tr>
<tr>
<td>Comments</td><td><textarea name="comments" rows="2" cols="30"></textarea></td>
</tr>
<tr>

[% library_access = tome.library_access %]
[% IF library_access.size > 1 %]
<td>Library</td><td><select name="library">
[% FOREACH library = library_access %]
[% library_info = tome.library_info(library) %]
<option value="[% library_info.id | html %]">[% library_info.name | html %]</option>
[% END %]
</select>[% errs.library %]</td>
</tr>
[% ELSE %]
<input type="hidden" name="library" value="[% library_access.0 | html %]">
[% END %]


<tr>
<td colspan="2" class="submit"><input type="submit" value="Add TOME Book"></td>
</tr></table>
</form>
