[% META title = 'Class Information' %]
<h3>Books for [% id %] - [% name %]</h3>
<table>
  <thead>
    <tr>
      <th>Book Info</th>
      <th>Usable Info</th>
      <th>Reservation</th>
    </tr>
  </thead>
[% FOREACH book = books %]
<tr[%- IF !book.usable -%] bgcolor="lightgrey"[%- END -%]>
<form action="[%- url -%]" method="post">
<input type="hidden" name="rm" value="updateclassinfo">
<input type="hidden" name="class" value="[% id | html %]">
<input type="hidden" name="isbn" value="[% book.isbn | html %]">
<td>
  [%- INCLUDE blocks/book.html isbn=book.isbn id="" -%]
  <b>Buy it online:</b> <a href="http://isbn.nu/[% book.isbn | html | uri %]">http://isbn.nu/[% book.isbn | html | uri %]</a>
</td>
<td[% IF book.verified >= (session.currsemester.id || currsemester.id) %] bgcolor="lightgreen"[%- END -%]>
  <table><tr><td><strong>Usable:</strong></td><td>
  <select name="usable">
    <option value="1" [% IF book.usable %]selected[% END %]>Yes</option>
    <option value="0"[% IF !book.usable %]selected[% END %]>No</option>
</select></td></tr>
<tr><td><strong>Semester</strong></td>
  <td><select name="verified">
		[% FOREACH semester = semesters %]
		<option value="[% semester.id | html %]" [% IF book.verified == semester.id %]selected="selected"[% END %]>[% semester.name | html %]</option>
		[% END %]
          </select></td></tr>
          <tr><td><strong>Comments:</strong></td><td><textarea name="comments" rows="4" cols="15">[% book.comments | html %]</textarea></td></tr>

          <tr><td><input type="submit" value="Update" /></td>
          </form>
          <td>
		<form action="[%- url -%]" method="post">
		<input type="hidden" name="rm" value="deleteclassbook" />
		<input type="hidden" name="class" value="[% id | html %]" />
		<input type="hidden" name="isbn" value="[% book.isbn | html %]" />
		<input type="submit" value="Delete" />
          </form></td></tr>
      </table></td>
      <td>[%- INCLUDE blocks/createreservation.html isbn=book.isbn libraries_from=libraries_from libraries_to=libraries_to -%]</td>
</tr>
[% END %]
</table>
<hr>
General Class Comments:<br />
<form action="[%- url -%]">
<input type="hidden" name="rm" value="updateclasscomments" />
<input type="hidden" name="class" value="[% id | html %]" />
<textarea name="comments" rows="6" cols="80">[% comments %]</textarea><input type="submit" value="Update">
</form>
<hr>
<p>Add new book for class:
<form action="[%- url -%]">
<input type="hidden" name="rm" value="addclassbook">
<input type="hidden" name="class" value="[% id | html %]">
ISBN: [% INCLUDE 'blocks/autocomplete_isbn.html' name='isbn' %]<br />
Usable: <input type="radio" name="usable" value="1" CHECKED>Yes <input type="radio" name="usable" value="0">No<br />
When verified: <select name="verified">
[% FOREACH semester = semesters %]
<option value="[% semester.id | html %]" [% IF (session.currsemester.id || currsemester.id) == semester.id %]selected="selected"[% END %]>[% semester.name | html %]</option>
[% END %]
</select><br />
Verification comments:<br /><textarea name="comments" rows="4" cols="30"></textarea><br />
<input type="submit" value="Add">
</form>
<hr>
<p>Delete class and all book associations:
<form action="[%- url -%]">
<input type="hidden" name="rm" value="confirm">
<input type="hidden" name="finalrm" value="deleteclass">
<input type="hidden" name="action" value="Delete class [% id | html %]">
<input type="hidden" name="id" value="[% id | html %]">
<input type="submit" value="Delete Class">
</form>
