[% META title = 'Useless Books' %]
<h3>These books have a class associated with them, but are marked as not being usable:</h3>
<form name="report" action="[%- url -%]" method="post">
<input type="hidden" name="rm" value="finduseless">
<table border="1" cellpadding="5">
[% INCLUDE 'blocks/librariesbox.html' name='libraries' libraries=tome.libraries selected=libraries_selected %]
<tr><td colspan="2"><input type="submit" value="Find Useless" /></td></tr>
</table>
</form>
[% IF tomebooks.size %]
<p>[% tomebooks.size %] useless books found.</p>
<p><table><thead>
<tr>
	<th>ID</th>
	<th>Title</th>
	<th>Author</th>
	<th>Edition</th>
	<th>Originator</th>
	<th>Classes</th>
      </tr></thead><tbody>
[% FOREACH book = tomebooks %]
<tr>
	<td><a href="[%- url(rm='tomebookinfo', id=bookid) -%]">[% book.id %]</a></td>
	<td>[% book.title %]</td>
	<td>[% book.author %]</td>
	<td>[% book.edition %]</td>
	<td><a href="[%- url(rm='patronview', id=book.originator) -%]">[% book.originator_name | html %]</a> ([% book.originator_email | html %])</td>
	<td>
		[% FOREACH class = book.classes %]
		<a href="[%- url(rm='classsearch', class=class.id) -%]">[% class.id %]</a> - [% class.name | html %]<br />
		[% END %]
	</td>
</tr>
[% END %]
</tbody></table>
[% ELSE %]
Hooray!  There are no useless books in libraries selected.
[% END %]
