[% META title = 'Orphan Books' %]
<h3>These books have no class associated with them:</h3>
<form name="report" action="[% config.cgibase %]/admin.pl" method="post">
<input type="hidden" name="rm" value="findorphans">
<table border="1" cellpadding="5">
[% PROCESS 'blocks/librariesbox.html' %]
<tr><td colspan="2" align="center"><input type="submit" value="Find Orphans"></td></tr>
</table>
</form>
[% IF books.size %]
<p>[% books.size %] orphans found.
<table border="1">
<tr>
	<td align="center"><b>Title</b></td>
	<td align="center"><b>Author</b></td>
	<td align="center"><b>Edition</b></td>
	<td align="center"><b>ISBN</b></td>
</tr>
[% FOREACH book = books %]
<tr>
	<td>
		[% book.title %]
	</td>
	<td>
		[% book.author %]
	</td>
	<td>
		[% book.edition %]
	</td>
	<td>
		<a href="[% config.cgibase %]/admin.pl?rm=mainsearch&isbn=[% book.isbn | uri | html %]&status=all">[% book.isbn %]</a>
	</td>
</tr>
[% END %]
[% ELSE %]
None, you rock!
[% END %]
</table>
