[% META title = 'Search' %]
<table cellpadding="5" class="noborder"><tr><td valign="top" style="text-align: right;">

[%# Main search box %]
<form action="[%- url -%]" style="text-align: right" method="post" name="mainsearch">
<input type="hidden" name="rm" value="mainsearch" />
<table>
  <thead>
    <tr>
      <th colspan="2">Book Search</th>
    </tr>
  </thead>
  <tr>
    <td>Title</td>
    <td>[% CGI.textfield({ Name => 'title' }) %]</td>
  </tr>
  <tr>
    <td>Author</td>
    <td>[% CGI.textfield({ Name => 'author' }) %]</td>
  </tr>
  <tr>
    <td>Edition</td>
    <td>[% CGI.textfield({ Name => 'edition' }) %]</td>
  </tr>
  <tr>
    <td colspan="2" class="submit"><input type="submit" value="Search" /></td>
  </tr>
</table>
</form>
</td>
<td style="vertical-align:top;">

[%# Class jump box %]
<form action="[%- url -%]" method="post" name="isbnview">
<input type="hidden" name="rm" value="classsearch" />
<table class="full">
  <thead><tr><th colspan="3">View Class</th></tr></thead>
<tr><td>Class</td><td>[% INCLUDE 'blocks/autocomplete_class.html' name='class' %]</td> <td class="submit"><input type="submit" value="Go" /></td></tr>
</table>
</form
<br />
[%# ISBN jump box %]
<form action="[%- url -%]" method="post" name="isbnview">
<input type="hidden" name="rm" value="isbnview" />
<table class="full">
  <thead> <tr><th colspan="3">View Book</th></tr></thead>
<tr><td>ISBN</td><td>[% INCLUDE 'blocks/autocomplete_isbn.html' name='isbn' %]</td> <td class="submit"><input type="submit" value="Go" /></td></tr>
</table>
</form>

</td>

<td valign="top">
[%# Edit Patron box %]
<form action="[%- url -%]" method="post">
<table>
  <thead><tr><th colspan="3" class="submit">Edit Patron</th></tr></thead>
<tr><td><input type="hidden" name="rm" value="patronview" />Email</td>
<td>[% INCLUDE 'blocks/autocomplete_patron.html' name='patron' %]</td>
<td class="submit">
  <input type="submit" value="Go" />
</form>
</td></tr>
</table>
</td>
</tr></table>
