[% META title = 'Search' %]
<table cellpadding="5"><tr><td valign="top" style="text-align: right;">

[%# Main search box %]
<form action="[%- url -%]" style="text-align: right" method="post" name="mainsearch">
<input type="hidden" name="rm" value="mainsearch" />
<table>
  <thead>
    <tr>
      <th colspan="2">Book Search</th>
    </tr>
  </thead>
  <tr>
    <td>Title</td>
    <td>[% CGI.textfield({ Name => 'title' }) %]</td>
  </tr>
  <tr>
    <td>Author</td>
    <td>[% CGI.textfield({ Name => 'author' }) %]</td>
  </tr>
  <tr>
    <td>Edition</td>
    <td>[% CGI.textfield({ Name => 'edition' }) %]</td>
  </tr>
  <tr>
    <td colspan="2" class="submit"><input type="submit" value="Search" /></td>
  </tr>
</table>
</form>
</td>
<td>

[%# Class jump box %]
<form action="[%- url -%]" method="post" name="isbnview">
<input type="hidden" name="rm" value="classsearch" />
<table>
  <thead><tr><th colspan="2">Jump to Class</th></tr></thead>
<tr><td>Class</td><td>[% PROCESS 'blocks/autocomplete_class.html' name='class' %]</td></tr>
<tr><td colspan="2" class="submit"><input type="submit" value="Jump" /></td></tr>
</table>
</form>

[%# ISBN jump box %]
<form action="[%- url -%]" method="post" name="isbnview">
<input type="hidden" name="rm" value="isbnview" />
<table>
  <thead> <tr><th colspan="2">Jump to ISBN</th></tr></thead>
<tr><td>ISBN</td><td>[% PROCESS 'blocks/autocomplete_isbn.html' name='isbn' %]</td></tr>
<tr><td colspan="2" class="submit"><input type="submit" value="Jump" /></td></tr>
</table>
</form>

</td>

<td valign="top">
[%# Edit Patron box %]
<form action="[%- url -%]" method="post">
<table>
  <thead><tr><th colspan="2" class="submit">Edit Patron</th></tr></thead>
<tr><td>
<input type="hidden" name="rm" value="patronview" />
Email
</td>
<td>[% PROCESS 'blocks/autocomplete_patron.html' name='patron' %]</td>
</tr>
<tr><td class="submit" colspan="2">
<input type="submit" value="Edit" />
</form>
</td></tr>
</table>
</td>
</tr></table>
