[%# This template expects the following:
  local_reservations
  local_dueback
  local_expiring
  reserved_from_local_to_remote
  reserved_from_remote_to_local
%]
[% META title = 'Semester Report' %]
<form name="report" action="[% url %]" method="post">
<input type="hidden" name="rm" value="report">
<table border="1" cellpadding="5">
[% PROCESS blocks/librariesbox.html name='library' libraries=tome.libraries %]
<tr><td>Semester</td><td>[% PROCESS blocks/semestersbox.html %]</td></tr>
<tr><td colspan="2" align="center"><input type="submit" value="Generate Report"></td></tr>
</table>
</form>
<h3>TOME Reservations not yet filled</h3>
<table border="1">
<tr>
	<td>
		Reservation ID
	</td>
	<td>
		Book
	</td>
	<td>
		Borrower
	</td>
	<td>
		Comments
	</td>
	<td>
		Semester
	</td>
        <td>
                Fill Reservation
        </td>
</tr>
[% FOREACH reservation_id = tome_reservations %]
[% reservation_info = tome.reservation_info(reservation_id) %]
[% patron = tome.patron_info(reservation_info.patron) %]
[% semester = semestershash.${reservation_info.semester}.name %]
[% IF reservation_info.semester < semester_selected %]
<tr bgcolor="pink">
[% ELSE %]
<tr>
[% END %]
	<td>
		<a href="[% url(rm='reservationinfo', id=reservation_id) %]">[% reservation_id | html%]</a>
	</td>
        <td>[% INCLUDE blocks/book.html isbn=reservation_info.isbn %]</td>
	<td>
		<a href="[% url(rm='patronview', patron=reservation_info.patron) %]">[% patron.name | html %]</a> ([% patron.email | html %])
	</td>
	<td>
		[% reservation_info.comments %]
	</td>
	<td>
		[% semester %]
	</td>
        <td>
                [% INCLUDE blocks/reservation.html reservation=reservation_id %]
        </td>
</tr>
[% END %]
</table>
<h3>TOME Books due back</h3>
<table border="1">
<tr>
	<td>
		TOME ID
	</td>
	<td>
		Book
	</td>
	<td>
		Borrower
	</td>
	<td>
		Comments
	</td>
	<td>
		Semester
	</td>
</tr>
[% FOREACH checkout_id = tome_dueback %]
[% checkout_info = tome.checkout_info(checkout_id) %]
[% semester = semestershash.${checkout_info.semester}.name %]
[% patron = tome.patron_info(checkout_info.patron) %]
[% IF checkout_info.semester == semester_selected - 1%]
<tr bgcolor="pink">
[% ELSIF checkout_info.semester < semester_selected - 1 %]
<tr bgcolor="red">
[% ELSE %]
<tr>
[% END %]
	<td>
		<a href="[% config.cgibase %]/admin.pl?rm=tomebookinfo&id=[% checkout_info.tomebook %]">[% checkout_info.tomebook %]</a>
	</td>
        <td>[% INCLUDE blocks/book.html isbn=checkout_info.isbn %]</td>
	<td>
		<a href="[% config.cgibase %]/admin.pl?rm=patronview&id=[% checkout_info.borrower | html | uri %]">[% patron.name | html %]</a> ([% patron.email | html %])
	</td>
	<td>
		[% checkout_info.comments %]
	</td>
	<td>
		[% semester.name %]
	</td>
</tr>
[% END %]
</table>
<h3>TOME Books expiring</h3>
<table border="1">
<tr>
	<td>
		TOME ID
	</td>

		Book
	</td>
	<td>
		Originator
	</td>
	<td>
		Expire
	</td>
	<td>
		Comments
	</td>
</tr>
[% FOREACH book = expiring %]
[% IF book.expire == semester_selected + 1 %]
<tr bgcolor="pink">
[% ELSIF book.expire > semester_selected + 1 %]
<tr bgcolor="red">
[% ELSE %]
<tr>
[% END %]
	<td>
		<a href="[% config.cgibase %]/admin.pl?rm=tomebookinfo&id=[% book.tomebook %]">[% book.tomebook %]</a>
	</td>
	<td>
		<b>Title:</b> [% book.tomebookinfo.title %]<br />
		<b>Author:</b> [% book.tomebookinfo.author %]<br />
		<b>Edition:</b> [% book.tomebookinfo.edition %]
	</td>
	<td>
		<a href="[% config.cgibase %]/admin.pl?rm=patronview&id=[% book.tomebookinfo.originator | html | uri %]">[% book.tomebookinfo.originator_name | html %]</a> ([% book.tomebookinfo.originator_email | html %])
	</td>
	<td>
		[% semestershash.${book.tomebookinfo.expire}.name %]
	</td>
	<td>
		[% book.tomebookinfo.comments %]
	</td>
</tr>
[% END %]
</table>
<h3>InterTOME Reservations not yet filled</h3>
<h4>Books reserved from this library to others</h4>
<h4>Books reserved from other libraries to this one</h4>
<h3>InterTOME Books due back</h3>
<h4>Books due from this library to others</h4>
<h4>Books due from other libraries to here</h4>
