[%- # takes tomebook as tomebook id -%]
[%- tomebookinfo = tome.tomebook_info(tomebook) -%]
<strong>Library:</strong> [% tome.library_info(tomebookinfo.library).name %]<br />
<strong>Originator:</strong> [%- INCLUDE blocks/patronlink.html patron=tomebookinfo.originator -%]<br />
<strong>Time donated:</strong> [% INCLUDE blocks/datetime.html datetime=tomebookinfo.timedonated %]<br />
[% IF tomebookinfo.timeremoved %]<strong>Time removed:</strong> [% INCLUDE blocks/datetime.html datetime=tomebookinfo.timeremoved %]<br />[% END %]
<strong>Comments:</strong>
<blockquote>[% tomebookinfo.comments | html %]</blockquote>
<strong>Expiration Semester:</strong>
[% IF tomebookinfo.expire %]
[% semestershash.${tomebookinfo.expire}.name | html %]
[% ELSE %]
<font color="green">This book will not expire</font>
[% END %]<br />
