[%# Takes isbn as an argument also, if id is defined id will be shown %]
[%- bookinfo = tome.book_info(isbn) -%]
<dl class="table-display">
  [%- IF (id) -%]
  <dt>Book ID:</dt>
  <dd><a href="[% config.cgibase %]/admin.pl?rm=tomebookinfo&id=[% id %]">[% id | html %]</a></dd>
  [%- END -%]
  <dt>ISBN:</dt>
  <dd><a href="[% config.cgibase %]/admin.pl?rm=isbnview&isbn=[% bookinfo.isbn %]">[% bookinfo.isbn | html %]</a></dd>
  <dt>Title:</dt><dd>[% bookinfo.title | html %]</dd>
  <dt>Author:</dt><dd>[% bookinfo.author | html %]</dd>
  <dt>Edition:</dt><dd>[% bookinfo.edition | html %]</dd>
</dl>
