<div name="reserve[%- isbn | html -%]" id="reserve[%- isbn | html  -%]">
[%- prototype.form_remote_tag({
  url => url,
  update => 'reserve' _ isbn,
  loading => prototype.update_element_function("reserve${isbn}", { content => 'Loading...', action => 'update'}),
  loaded => prototype.visual_effect('highlight', "reserve${isbn}", { duration => '0.5'}),
  }) -%]
<input type="hidden" name="rm" value="ajax_isbnreserve" />
<input type="hidden" name="isbn" value="[% isbn | html %]" />


<dl class="table-display">
  <dt>Patron:</dt>
  <dd>[% PROCESS 'blocks/autocomplete_patron.html' name='patron' %] [% errs.patron %]</dd>
  [%# Since most people only ever have access to one library, we make this a variable thinger. %]
  [%- IF libraries_from.size > 1 -%]
  <dt>Create reservation to:</dt>
  <dd>
    <select name="library_from" id="library_from[%- isbn | html -%]">
      [%- FOREACH library IN libraries_from -%]
        <option value="[% library | html %]"[% IF (user_info.primary_library == library) %] selected="true"[% END %]>[% tome.library_info(library).name | html %]</option>
      [%- END -%]
    </select>
  </dd>
  [%- ELSE -%]
  <input type="hidden" name="library_from" value="[% libraries_from.first %]" id="library_from[%- isbn | html -%]" />
  [%- END -%]
  <dt>Semester:</dt>
  <dd>[% PROCESS 'blocks/semestersbox.html' name='semester' id='semester' _ isbn %][% errs.semester %]</dd>
  [%#should be if it is in our library -%]
  <dt>Comments:</dt>
  <dd><input type="text" name="comment" /></dd>
  <div id="libraries_selection[%- isbn | html -%]" style="width:250px;">
    [%- INCLUDE 'blocks/libraries_selection.html' semester=(session.currsemester.id || currsemester.id) library_from=user_info.primary_library isbn=isbn -%]
  </div>
</dl>
[%- prototype.observe_field("semester${isbn}", {
    url => url,
    with => "'semester='+value+'&rm=ajax_libraries_selection_list&isbn=$isbn&library_from='+\$('library_from${isbn}').value",
    update=> "libraries_selection${isbn}",
    loading=>"document.reserve${isbn}.submit.disabled = true",
    loaded=>prototype.visual_effect('highlight', "libraries_selection${isbn}", { duration=>'0.5' }),
})
-%]
[%- prototype.observe_field("library_from${isbn}", {
    url => url,
    with => "'semester='+\$('semester${isbn}').value+'&rm=ajax_libraries_selection_list&isbn=$isbn&library_from='+value",
    update=> "libraries_selection${isbn}",
    loading=>"document.reserve${isbn}.submit.disabled = true",
    loaded=>prototype.visual_effect('highlight', "libraries_selection${isbn}", { duration=>'0.5' }),
})
-%]
</form>
</div>
