[%# Receives a list of libraries as follows:

list = {
        ours = T if the library is the current tomekeepers
        available = (number of books of the current isbn available
        id = library id
        }

that have books as `libraries'
-%]
[%# This little hack doesn't even give you an option if there are no books -%]
[%- UNLESS libraries.first.available -%]
    <td colspan="2">There are no books available for the options you have selected.  Sorry.</td>
[%- ELSE -%]
    <td>
    <input type="submit" value="Create Reservation to Library:" id="submit"/></td><td><select name="library_to" id="library_to">
        [%# This ugly mofo is supposed to make it so that if your library has a book, you have to reserve from your library. -%]
        [%- our_library_contains_the_book = 0 -%]
        [%- FOREACH library = libraries -%]
            [%- IF library.ours -%]
                [%- our_library_contains_the_book = 1 -%]
                [%- LAST -%]
            [%- END -%]
        [%- END -%]
            [%- FOREACH library = libraries.nsort('available').reverse -%]
                [%- library_info = tome.library_info(library.id) -%]
                [%- IF library_info.intertome -%]
                    [%- IF our_library_contains_the_book==1 -%]
                        [%- IF library.ours -%]
                            <option value="[% library.id | html %]">[% library_info.name | html %] ([% library.available | html %] Free)</option>
                        [%- END -%]
                    [%- ELSE -%]
                        <option value="[% library.id | html %]">[% library_info.name | html %] ([% library.available | html %] Free)</option>
                    [%- END -%]
                [%- END -%]
            [%- END -%]
    </select>
    </td>
[%- END -%]
