[%# Takes reservation and disabled as an argument %]
[%- r = tome.reservation_info(reservation) -%]
[%- tomebooks_available = tome.tomebooks_available_for_checkout(r.isbn, r.library_to, r.semester) -%]
<div name="reservation[% r.id | html %]" id="reservation[% r.id | html %]">
[%- prototype.form_remote_tag({
  url    => url,
  update => 'reservation' _ r.id,
  loading=> prototype.update_element_function("reservation${r.id}", { content=>'Loading...', action=>'update'}),
  loaded => prototype.visual_effect('highlight', "reservation${r.id}", { duration=>'0.5' }),
  }) -%]
<input type="hidden" id="reservation_id" name="reservation_id" value="[% r.id | html %]" />
<input type="hidden" id="rm" name="rm" value="ajax_fill_reservation" />
<input type="hidden" id="rcommit[%- r.id -%]" name="commit" value="fill" />
<table>
[%- IF tome.library_access.grep(r.library_from) -%]<tr><td><strong>Checkout:</strong></td><td><select name="tomebook_id"><option id="0">Please select a Book ID</option>[% FOREACH book = tomebooks_available %]<option id="[% book | html %]">[% book | html %]</option>[% END %]</select></td></tr>[%- END -%]
<tr><td><input type="submit" name="submit" value="Cancel" onClick="$('rcommit[%- r.id -%]').value='cancel'; $$('reservation[% r.id | html %] form')[0].submit();"  /></td>
<td><input type="submit" name="submit" [%- IF disbabled -%]disabled="true"[%- END -%] value="Fill Reservation" [%- IF !tome.library_access.grep(r.library_from)  -%]disabled="disabled"[%- END -%] /></td>
</tr>
</table>
</form>
</div>
