[% META title = 'Add Book' %]
<font size="+1">Adding Class Book:</font>
<blockquote>
<b>ISBN:</b> [% CGI.param('isbn') | html %]<br />
<b>Class:</b> [% classinfo.name | html %]<br />
<b>Usable:</b> [% CGI.param('usable') ? 'yes' : 'no' %]<br />
<b>Verified:</b> [% INCLUDE blocks/semester.html semester=CGI.param('verified') %]<br />
<b>Comments:</b> [% CGI.param('comments') | html %]<br />
</blockquote>
<p><font color="red">The ISBN you entered is not known by the system.<br />
If you are sure it is correct, please enter the general book information and the book will be added.</font>
<p><form action="[%- url -%]" method="post">
<input type="hidden" name="rm" value="addclassbook">
<input type="hidden" name="addbook" value="true">
<input type="hidden" name="class" value="[% CGI.param('class') | html %]">
<input type="hidden" name="usable" value="[% CGI.param('usable') | html %]">
<input type="hidden" name="verified" value="[% CGI.param('verified') | html %]">
<input type="hidden" name="comments" value="[% CGI.param('comments') | html %]">
ISBN: [% CGI.textfield({ Name => 'isbn' }) %]<br />
Title: <input type="text" name="title"><br />
Author: <input type="text" name="author"><br />
Edition: <input type="text" name="edition"><br />
<input type="submit" value="Add Book">
</form>
