[% META title = 'Confirm' %]
<center>
<h2>Are you sure you want to:</h1>
<p><font size="+1">[% CGI.param('action') %]</font>
<form action="[% config.cgibase %]/admin.pl" method="post">
[% FOREACH param = CGI.param %]
[% IF param == 'rm' %]
<input type="hidden" name="rm" value="[% CGI.param('finalrm') | html %]">
[% ELSIF param != 'finalrm' && param != 'action' %]
<input type="hidden" name="[% param | html %]" value="[% CGI.param(param) | html %]">
[% END %]
[% END %]
<input type="submit" value="Confirm">
</form>
</center>
